In [1]:
#리스트와 튜플
 #리스트 만들기
  # 변수에 값을 저장할 떄 [](대괄호)로 묶어주면 리스트가 되며, 각 값은 ,(콤마)로 구분
  # 리스트 = [값, 값, 값...]
a = [38, 21, 53, 62, 19]

In [2]:
a

[38, 21, 53, 62, 19]

In [3]:
  # 리스트에 저장된 각 값 요소(element)라고 부름
 # 리스트에 여러 가지 자료형 저장
  #리스트는 문자열, 정수, 실수, 불 등 모든 자료형을 저장할 수 있으며 자료형을 섞어서 저장해도 됨
person = ['james', 17, 175.3, True]

In [4]:
person

['james', 17, 175.3, True]

In [9]:
 # 빈 리스트 만들기
  # 빈 리스트를 만들 때는 []만 지정하거나 list를 사용하면 됨
  # 리스트 = [] / 리스트 = list()
  # 보통 빈 리스트를 만들어 놓은 뒤 새 값을 추가하는 방식으로 사용
a = []

In [10]:
a

[]

In [11]:
b = list()

In [12]:
b

[]

In [13]:
 # range를 사용하여 리스트 만들기
  # range는 연속된 숫자를 생성하는데 range에 10을 지정하면 0부터 9까지 숫자를 생성.(지정한 횟수 숫자는 생성되는 숫자에 포함되지 않음)
range(10)

range(0, 10)

In [14]:
a = list(range(10)) # list에 range(횟수)를 넣어 리스트 생성

In [15]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
  # range는 시작하는 숫자와 끝나는 숫자를 지정할 수도 있음. (끝나는 숫자는 생성되는 숫자에 포함되지 않음)
b = list(range(5, 12))

In [17]:
b

[5, 6, 7, 8, 9, 10, 11]

In [18]:
  # range에 증가폭을 지정하면 해당 값만큼 증가하면서 숫자를 생성
  # 리스트 = list(range(시작, 끝, 증가폭))
c = list(range(-4, 10, 2))

In [19]:
c

[-4, -2, 0, 2, 4, 6, 8]

In [20]:
d = list(range(10, 0 , -1)) # 증가폭을 음수로 지정하면 해당 값 만큼 숫자가 감소

In [21]:
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [22]:
 # 튜플
  # 튜플은 리스트처럼 요소를 일렬로 저장하지만, 변경, 추가, 삭제 불가(읽기전용)
  # 변수 값을 저장할 때 ()괄호로 묶어주면 튜플이 되며, ,(콤마)로 구분 / 괄호로 묶지 않고 값만 콤마로 구분해도 튜플이 됨
  # 튜플 = (값, 값, 값...) / 튜플 = 값, 값, 값 ...
a = (38, 21, 53, 62, 19)

In [23]:
a

(38, 21, 53, 62, 19)

In [24]:
a = 38, 21, 53, 62, 19

In [25]:
a

(38, 21, 53, 62, 19)

In [26]:
person = ('james', 17, 175.3, True) # 튜플도 리스트처럼 여러 자료형을 섞어서 저장해도 됨

 #튜플은 요소가 절대 변경되지 않고 유지되어야 할 때 사용하고 리스트는 요소를 자주 변경해야할 때 사용

In [27]:
person

('james', 17, 175.3, True)

In [28]:
  # 요소가 한 개 들어있는 튜플 만들기
(38) # 값 한개를 괄호로 묶으면 단순한 값이 됨

38

In [29]:
  # 요소가 한 개인 튜플을 만들 때는 ()괄호 안에 값 한 개를 넣고 ,콤마를 붙이거나 괄호로 묶지 않고 값 한 개에 ,를 붙임
  # 튜플 = (값, ) / 튜플 값,
(38, )

(38,)

In [30]:
38,

(38,)

In [31]:
  # 함수(클래스)를 사용하다 보면 값이 아닌 튜플을 넣어야 할 경우가 생김. 값은 한 개지만 튜플을 넣어야 할 때 (값, )과 같은 형식을 사용
 # range를 사용하여 튜플 만들기
  # 튜플 안에 range를 넣으면 튜플이 생성
  # 튜플 = tuple(range(횟수))
a = tuple(range(10))

In [32]:
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [33]:
b = tuple(range(5,12))

In [34]:
b

(5, 6, 7, 8, 9, 10, 11)

In [35]:
c = tuple(range(-4, 10, 2))

In [36]:
c

(-4, -2, 0, 2, 4, 6, 8)

In [1]:
 # 튜플을 리스트로 만들고 리스트를 튜플로 만들기
  # 튜플과 리스트는 요소를 변경, 추가, 삭제 가능 여부만 다를 뿐 기능과 형태는 같음
  # 튜플을 리스트로 만들거나 리스트를 튜플로 만들 수 있음
a = [1,2,3]

In [2]:
a

[1, 2, 3]

In [3]:
tuple(a)

(1, 2, 3)

In [4]:
  # 반대로 list안에 튜플을 넣으면 새 리스트가 생성됨
b = (4,5,6)

In [5]:
list(b)

[4, 5, 6]

In [8]:
# list와 tuple 안에 문자열을 넣으면 문자 리스트, 문자 튜플이 생성
 # 문자열을 넣으면 문자 하나하나가 요소로 들어감
list('hello')

['h', 'e', 'l', 'l', 'o']

In [9]:
tuple('hello')

('h', 'e', 'l', 'l', 'o')

In [10]:
# 리스트와 튜플로 변수 만들기
 # 리스트와 튜플을 사용하면 변수 여러 개를 한번에 만들 수 있음.
 # 이때 변수의 개수와 리스트(튜플)의 요소 개수는 같아야 함
a, b, c = [1,2,3]

In [11]:
print(a, b, c)

1 2 3

In [12]:
d, e, f = (4,5,6)

In [13]:
print(d,e,f)

4 5 6

In [14]:
 # 리스트와 튜플 변수로도 변수 여러 개를 만들 수 있음
 # 리스트와 튜플의 요소를 변수 여러개에 할당하는 것을 리스트 언패킹(list unpacking), 튜플 언패킹(tuple unpacking)이라고 함
x = [1,2,3]

In [15]:
a, b, c = x

In [16]:
print(a,b,c)

1 2 3

In [17]:
y = (4,5,6)

In [18]:
d,e,f = y

In [19]:
print(d, e, f)

4 5 6

In [20]:
print(d)

4

In [21]:
 # input().split()은 리스트를 반환함. 리스트 언패킹 형식으로 입력 값을 변수 여러개에 저장할 수 있음
input().split()

 10 20

['10', '20']

In [22]:
x = input().split()

 10 20

In [23]:
a, b = x # a, b = input().split()과 같음

In [24]:
print(a, b)

10 20

In [25]:
  # 리스트 패킹과 튜플패킹은 변수에 리스트 또는 튜플을 할당하는 과정을 뜻함
a = [1,2,3] # 리스트 패킹
b = (1,2,3) # 튜플 패킹
c = 1,2,3 # 튜플 패킹

In [26]:
a

[1, 2, 3]

In [27]:
b

(1, 2, 3)

In [28]:
c

(1, 2, 3)

In [29]:
# 연습문제: range로 리스트 만들기
 # 다음 소스코드를 완성하여 리스트 [5, 3, 1, -1, -3, -5, -7, -9] 출력하고, 리스트를 만들 때는 range를 사용
a = list(range(5, -10, -2))

In [30]:
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]