In [1]:
 # 반복문으로 리스트의 요소 모두 출력
  # for 반복문으로 요소 출력
   # for 변수 in 리스트:
   #     반복할 코드
a = [38, 21, 53, 62, 19]

In [2]:
for i in a:
    print(i)

38
21
53
62
19

In [4]:
  # 인덱스와 요소를 함께 출력
   # for 반복문으로 요소를 출력할 때 인덱스도 함께 출력하려면 enumerate를 사용
   # for 인덱스, 요소 in enumerate(리스트):
for index, value in enumerate(a):
    print(index, value)

0 38
1 21
2 53
3 62
4 19

In [5]:
for index, value in enumerate(a):
    print(index + 1, value)             # 인덱스를 1부터 출력

1 38
2 21
3 53
4 62
5 19

In [6]:
   # enumerate에 start를 지정하면 인덱스 시작 번호를 변경 가능
for index, value in enumerate(a, start=1):
    print(index, value)

1 38
2 21
3 53
4 62
5 19

In [7]:
  # while 반복문으로 요소 출력
a = [38, 21, 53, 62, 19]

In [8]:
i = 0
while i < len(a):
    print(a[i])
    i += 1

38
21
53
62
19

In [9]:
  # 리스트의 가장 작은 수, 가장 큰 수, 합계 구하기
   # 가장 작은수와 가장 큰 수 구하기
a = [38, 21, 53, 62, 19]

In [12]:
smallest = a[0]               # 리스트의 첫 요소 a[0]을 변수에 저장
for i in a:                   # for 로 리스트 요소 반복
    if i < smallest:          # i 가 smallest보다 작으면
        smallest = i          # smallest에 i를 할당

In [13]:
smallest

19

In [14]:
largest = a[0]
for i in a:
    if i > largest:
        largest = i

In [15]:
largest

62

In [16]:
   # sort 활용하여 구하기
a.sort()
a[0]

19

In [17]:
a.sort(reverse=True)
a[0]

62

In [18]:
   # min, max 활용
min(a)

19

In [19]:
max(a)

62

In [20]:
  # 요소의 합계
a = [10, 10, 10, 10, 10]
x = 0
for i in a:
    x += i

In [21]:
x

50

In [22]:
   # sum 함수 사용
sum(a)

50

In [1]:
 # 리스트 표현식 사용
  # 리스트 안에 for 반복문과 if 조건문을 사용할 수 있음
  # 리스트 안에 식, for 반복문, if 조건문 등을 지정하여 리스트를 생성하는 것을 리스트 컴프리헨션(list comprehension)이라고 함
  # [식 for 변수 in 리스트]
  # list(식 for 변수 in 리스트)
a = [i for i in range(10)]    # 0부터 9까지 숫자를 생성하여 리스트 생성
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
b = list(i for i in range(10))   # 0부터 9까지 숫자를 생성하여 리스트 생성

In [3]:
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
c = [i + 5 for i in range(10)]     # 0부터 9까지 숫자를 생성하면서 값에 5를 더하여 리스트 생성
c

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [6]:
d = [i * 2 for i in range(10)]    # 0부터 9까지 숫자를 생성하면서 값에 2를 곱하여 리스트 생성

In [7]:
d

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [1]:
  # 리스트 표현식에서 if 조건문 사용
   # [식 for 변수 in 리스트 if 조건식]
   # list(식 for 변수 in 리스트 if 조건식)
a = [i for i in range(10) if i % 2 == 0]     # 0~9 숫자 중 2의 배수인 숫자(짝수)로 리스트 생성
a

[0, 2, 4, 6, 8]

In [2]:
b = [i + 5 for i in range(10) if i % 2 == 1]   # 0~9 숫자 중 홀수에 5를 더하여 리스트 생성
b

[6, 8, 10, 12, 14]

In [3]:
  # for 반복문과 if 조건문을 여러번 사용
   # [식 for 변수1 in 리스트1 if 조건식1   for 변수2 in 리스트2 if 조건식2 ...]
a = [i * j for j in range(2, 10) for i in range(1,10)]
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [4]:
   # 여러 줄로 입력해도 됨, 들여쓰기는 해도 되고 하지 않아도 됨
a = [i * j for j in range(2, 10) for i in range(1,10)]
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [5]:
 # 리스트에 map 사용
  # map은 리스트의 요소를 지정된 함수로 처리해주는 함수(map은 원본 리스트를 변경하지 않고 새 리스트를 생성
  # list(map(함수, 리스트))
  # tuple(map(함수,튜플))
# ex> 실수가 저장된 리스트가 있을 때 리스트의 요소를 정수로 변환
a = [1.2, 2.5, 3.7, 4.6]

In [6]:
for i in range(len(a)):
    a[i] = int(a[i])

In [7]:
a

[1, 2, 3, 4]

In [8]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

In [10]:
  # map에는 리스트 뿐만 아니라 모든 반복 가능한 객체를 넣을 수 있음
a = list(map(str, range(10)))
a

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [11]:
  # input().split()과 map
   # input().split()의 결과가 문자열 리스트라서 map을 사용할 수 있음
a = input().split()

 10 20

In [12]:
a

['10', '20']

In [14]:
a = map(int, input().split())

 10 20

In [15]:
a

In [16]:
list(a)

[10, 20]