In [1]:
#print를 활용하여 값을 여러 개 출력하기
# print에는 변수나 값 여러 개를 ,(콤마)로 구분하여 넣을 수 있음
# print(값1, 값2, 값3...) / print(변수1, 변수2, 변수3...)
print(1,2,3)

1 2 3

In [2]:
print('Hello', 'Python')

Hello Python

In [3]:
#sep로 값 사이에 문자 넣기
#변수나 값을  콤마로 구분해서 넣으면 값이 공백으로 띄워져서 한줄로 출력
#값 사이에 공백이 아닌 다른 문자를 넣고 싶을 땐 print의 sep 문자 또는 문자열을 지정(sep은 separator의 약어)
# print(값1, 값2, sep='문자 또는 문자열') / print(변수1, 변수2, sep='문자 또는 문자열')
print(1,2,3,sep=', ') #sep에 콤마와 공백을 지정

1, 2, 3

In [4]:
print(4,5,6,sep=',') #sep에 콤마만 지정

4,5,6

In [5]:
print('Hello', 'Python', sep='') #sep에 빈 문자열 지정

HelloPython

In [6]:
print(1920, 1080, sep='x') #sep에 x를 지정

1920x1080

In [7]:
#줄 바꿈
# print에 값을 여러 개 지정하면 한 줄에 모든 값이 출력함
# print 한 번으로 여러 줄을 출력할 방법은 sep에 개행문자(\n) 지정하면 됨
print(1,2,3, sep='\n')

1
2
3

In [8]:
#\n도 문자이므로 양 옆에 공백을 넣으면 공백이 그대로 출력됨
#\n은 옆에 다른 문자나 숫자와 붙여 씀
print('1\n2\n3') #문자열 안에 \n을 사용하여 줄바꿈

1
2
3

In [9]:
#print는 기본적으로 출력 값 끝에 \n을 붙임
#print를 여러번 사용하여 한 줄에 여러 개 값을 출력할 경우 end에 빈 문자열을 지정
# print(값, end='문자 또는 문자열') / print(변수, end='문자 또는 문자열')
print(1, end='') #end에 빈 문자열을 지정하면 다음 번 출력이 바로 뒤에 오게 됨
print(2, end='')
print(3)

123

In [10]:
print(1, end=' ') #end에 공백 한 칸 지정
print(2, end=' ')
print(3)

1 2 3

In [11]:
#연습문제
#실행결과 : 2000/10/27 11:43:59
year = 2000

In [12]:
month = 10

In [13]:
day = 27

In [14]:
hour = 11

In [15]:
minute = 43

In [16]:
second = 59

In [17]:
print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2000/10/27 11:43:59