In [1]:
#시퀀스 자료형
 # list, tuple, range, string 은 모두 값이 연속적(sequence)로 이뤄져 있음. 이러한 자료형을 시퀀스 자료형9sequence types)라고 함
 # 시퀀스 자료형 중에서 list, tuple, range, str를 주로 사용하며, bytes, bytearray라는 자료형도 있음
 # 시퀀스 자료형의 가장 큰 특징은 공통된 동작과 기능을 제공
  # 시퀀스 자료형으로 만든 객체를 시퀀스 객체라고 하며, 시퀀스 객체에 들어있는 각 값을 요소(element)라고 함
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [2]:
30 in a

True

In [3]:
100 in a

False

In [4]:
  # 시퀀스 객체에 in 연산자를 사용했을 때 특정 값이 있으면, true, 없으면 False가 나옴.
  # 반대로 in 앞에 not 을 붙이면 특정 값이 없는지 확인
100 not in a

True

In [5]:
30 not in a

False

In [6]:
43 in (38, 76, 43, 62, 19)

True

In [7]:
1 in range(10)

True

In [8]:
'P' in 'Hello, Python'

True

In [9]:
 # 시퀀스 객체 연결하기
  # 시퀀스 객체는 + 연산자를 사용하여 객체를 서로 연결하여 새 객체를 만들 수 있음
a = [0, 10, 20, 30]

In [10]:
b = [9, 8, 7, 6]

In [11]:
a + b

[0, 10, 20, 30, 9, 8, 7, 6]

In [12]:
  # 변수를 만들지 않고 리스트 여러 개를 직접 연결해도 상관없으나, range는 + 연산자로 객체를 연결할 수 없음
range(0, 10) + range(10, 20)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [13]:
  # 이때는 range를 리스트 또는 튜플로 만들어서 연결
list(range(0,10)) + list(range(10, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [14]:
  # 문자열은 + 연산자로 여러 문자열을 연결할 수 있음
'Hello, ' + 'world!'

'Hello, world!'

In [15]:
  # 문자열에 숫자 연결
   # 문자열에 정수를 연결하려고 하면 에러가 발생(정수를 문자열로 변환할 수 없음) -> str을 사용하여 숫자(정수, 실수)를 문자열로 변환
   # '문자열' + str(정수 or 실수)
'Hello, ' + str(10) # str을 사용하여 정수를 문자열로 변환

'Hello, 10'

In [16]:
'Hello, ' + str(1.5) # str을 사용하여 실수를 문자열로 변환

'Hello, 1.5'

In [17]:
 # 시퀀스 객체 반복
  # * 연산자는 시퀀스 객체를 특정 횟수만큼 반복하여 새 시퀀스 객체를 만듬(0 또는 음수를 곱하면 빈 객체가 나오며, 실수는 곱할 수 없음)
  # 시퀀스객체 * 정수 / 정수 * 시퀀스객체
[0,10,20,30] * 3

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]

In [18]:
  # + 와 마찬가지로 range 또한 * 사용 불가능. 리스트나 튜플로 만들어서 반복해야 함
range(0, 5, 2) * 3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [21]:
list(range(0 , 5 , 2)) * 3

[0, 2, 4, 0, 2, 4, 0, 2, 4]

In [22]:
'Hello, ' * 3 # 문자열은 반복할 수 있음

'Hello, Hello, Hello, '

In [24]:
# 시퀀스 객체 요소 개수
 # len(시퀀스 객체)
 # 리스트와 튜플의 요소 개수 구하는 법
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [25]:
len(a)

10

In [26]:
b = (38, 76, 43, 62, 19)

In [27]:
len(b)

5

In [28]:
 # range의 숫자 생성 개수 구하기
len(range(0, 10, 2)) # range에 len 함수를 사용하면 숫자가 생성되는 개수를 구함

5

In [37]:
 # 문자열의 길이
  # 문자열도 시퀀스 자료형이므로 len 함수를 사용
hello = 'Hello, World!'

In [38]:
len(hello)

13

In [40]:
hello
# 문자열의 길이는 공백까지 포함. 단, 문자열읠 묶은 따옴표는 제외

'Hello, World!'

In [41]:
  # UTF-8 문자열의 바이트 수 구하기
   # 한글, 한자, 일본어 등은 UTF-8 인코딩으로 저장하는데 문자열이 차지
hello = '안녕하세요'

In [43]:
len(hello.encode('utf-8')) # UTF-8에서 한글 글자 하나는 3바이트로 표현
# 파이썬 3에서 len은 문자의 개수를 구하지만 파이썬 2.7에선 실제 바이트 수를 구해주는 차이점이 있기 떄문에 파이썬 버전에 따라 결과값이 달라질 수 있음

15

In [44]:
 # 인덱스
  # 시퀀스 객체의 각 요소는 순서가 정해져 있으며, 이 순서를 인덱스라고 칭함
  # 시퀀스객체[인덱스]
a = [38, 21, 53, 62, 19]

In [45]:
a[0] # 리스트의 첫 번째(인덱스 0) 요소 출력

38

In [46]:
a[2] #  리스트의 세 번째(인덱스 2) 요소 출력

53

In [47]:
a[4] # 리스트의 다섯 번째(인덱스 4) 요소 출력

19

In [48]:
  # 인덱스는 위치 값을 뜻하는데, 주의할 점은 시퀀스 객체의 인덱스는 항상 0부터 시작
  # tuple, range, str도 []에 인덱스를 지정하면 해당 요소를 가져올 수 있음
b = (38, 21, 53, 62, 19)

In [49]:
b[0] # 튜플의 첫 번째(인덱스 0) 요소 출력

38

In [50]:
r = range(0, 10, 2) # range도 인덱스로 접근 가능

In [52]:
list(r)

[0, 2, 4, 6, 8]

In [54]:
r[2] # range의 세 번째(인덱스 2) 요소 출력

4

In [55]:
  # 문자열은 요소가 문자이므로 인덱스로 접근하면 문자가 나옴
hello = 'Hello, world!'

In [56]:
hello[7] # 문자열의 여덟 번째(인덱스 7) 요소 출력

'w'

In [57]:
hello[6]

' '

In [58]:
  # 시퀀스 객체에 인덱스를 지정하지 않으면 해당 객체 전체를 뜻함
a

[38, 21, 53, 62, 19]

In [59]:
  # __gettime__ 메서드
  # 시퀀스 객체에서 [](대괄호)를 사용하면 실제로는 __getitem__ 메서드를 호출하여 요소를 가져옴
  # 시퀀스객체.__getitem__(인덱스)
a.__getitem__(1)

21

In [60]:
a

[38, 21, 53, 62, 19]

In [61]:
 # 음수 인덱스 지정
a[-1] # 리스트의 뒤에서 첫 번쨰(인덱스 -1) 요소 출력

19

In [62]:
a[-5] # 리스트의 뒤에서 다섯 번째(인덱스 -5) 요소 출력

38

In [63]:
b

(38, 21, 53, 62, 19)

In [64]:
b[-1] # 튜플 뒤에서 첫 번째(인덱스 -1) 요소 출력

19

In [65]:
list(r)

[0, 2, 4, 6, 8]

In [66]:
r[-3] # range의 뒤에서 세 번쨰(인덱스 -3) 요소 출력

4

In [67]:
hello

'Hello, world!'

In [68]:
hello[-4] # 문자열의 뒤에서 네 번째(인덱스 -4) 요소 출력

'r'

In [69]:
 # 인덱스 범위를 벗어날 경우
a

[38, 21, 53, 62, 19]

In [70]:
a[5] # 인덱스 5는 범위를 벗어났으므로ㅠ IndexError 발생

IndexError: list index out of range

In [72]:
 # 마지막 요소에 접근하기
  # 첫 번째 방법은 인덱스를 [-1]로 지정
  # 두 번째 방법은 len 함수로 리스트의 길이를 구한 뒤 이 길이의 -1을 한 값을 인덱스로 지정
a = [38, 21, 53, 62, 19]

In [73]:
len(a)

5

In [74]:
a[5] # 리스트의 길이를 인덱스로 지정하면 오류가 남

IndexError: list index out of range

In [75]:
a[4]

19

In [76]:
a[len(a)] # 인덱스에 len을 조합. len(a)는 5 이므로 에러

IndexError: list index out of range

In [78]:
a[len(a) - 1] # 마지막 요소(인덱스 4) 출력

19

In [79]:
 # 요소에 값 할당
  # 시퀀스 객체의 요소에 값을 할당하는 방법은 []로 요소에 접근한 뒤 = 로 값을 할당
  # 시퀀스객체[인덱스] = 값
a = [0, 0, 0, 0, 0] # 0이 5개 들어 있는 리스트

In [80]:
a[0] = 38

In [81]:
a[1] = 21

In [82]:
a[2] = 53

In [83]:
a[3] = 62

In [84]:
a[4] = 19

In [85]:
a

[38, 21, 53, 62, 19]

In [86]:
a[0]

38

In [87]:
a[4]

19

In [88]:
a[5] = 90 # 범위를 벗어난 인덱스는 지정할 수 없기 때문에 IndexError가 나옴

IndexError: list assignment index out of range

In [89]:
d = 0, 0, 0, 0, 0

In [91]:
d[0] = 38 # 튜플은 값을 변경, 삭제할 수 없기 때문에 TypeError가 나옴

TypeError: 'tuple' object does not support item assignment

In [92]:
  # range와 문자열도 안에 저장된 요소를 변경할 수 없음
r = range(0, 10, 2)

In [93]:
r[0] = 3

TypeError: 'range' object does not support item assignment

In [94]:
hello

'Hello, world!'

In [95]:
hello[0] = 'A'

TypeError: 'str' object does not support item assignment

In [96]:
 # del 로 요소 삭제
  # del 시퀀스객체[인덱스]
e = [38, 21, 53, 62, 19]

In [97]:
del e[2] #리스트의 세 번쨰(인덱스 2)를 삭제

In [98]:
e

[38, 21, 62, 19]

In [99]:
b

(38, 21, 53, 62, 19)

In [100]:
del b[2] # 리스트와 달리 튜플은 요소를 삭제할 수 없음

TypeError: 'tuple' object doesn't support item deletion

In [101]:
del r[2] # range도 저장된 요소를 삭제할 수 없음

TypeError: 'range' object doesn't support item deletion

In [102]:
del hello[2] # 문자열도 저장된 요소를 삭제할 수 없음

TypeError: 'str' object doesn't support item deletion