In [1]:
#문자열을 만들 때 4가지 방법이 있음
#""
#''
#"" ""
#''' '''
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [3]:
food = 'Python's favorite food is perl'
#'Python'이 문자열로 인식되어 구문 오류가 발생

SyntaxError: unterminated string literal (detected at line 1) (256926445.py, line 1)

In [4]:
say = '"Python is very easy." he says.'

In [10]:
say
#작은따옴표 안에 사용된 큰따옴표는 문자열을 만드는 기호로 인식되지 않음

'"Python is very easy." he says.'

In [11]:
#역슬래쉬(\)를 사용하면 작은따옴표나 큰따옴표를 문자열에 포함시킬 수 있음
#역슬래시를 작은따옴표나 큰따옴표 앞에 삽입하면 문자열을 둘러싸는 기호의 의미가 아니라 '나 " 자체를 뜻함
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

In [12]:
food

"Python's favorite food is perl"

In [13]:
say

'"Python is very easy." he says.'

In [16]:
#줄바꿈 문자인 \n 을 삽입하는 방법도 있음
multline = "Life is too short\nYou need python"
#작은따옴표 3개(''') 또는 큰따옴표 3개(""")를 사용

In [30]:
print(multline)

Life is too short
You need python

In [19]:
multiline = '''
    Life is too short
    You need python
    '''

In [28]:
print(multiline)

    Life is too short
    You need python

In [22]:
multiline = """
    Life is too short
    You need python
    """

In [29]:
print(multiline)

    Life is too short
    You need python

In [24]:
# \n 문자열 안에서 줄을 바꿀 때 사용
# \t 문자열 사이에 탭 간격을 줄 때 사용
# \\ \를 그대로 표현할 때 사용
# \' 작은따옴표를 그대로 표현할 때 사용
# \" 큰따옴표를 그대로 표현할 때 사용
# \r 캐리지 리턴(줄바꿈 문자, 커서를 현재 줄의 가장 앞으로 이동)
# \f 폼 피드(줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동)
# \a 벨 소리(출력할 때 pc스피커에 '삑' 소리가 난다)
# \b 백 스페이스
# \000 널문자

In [31]:
a = "Life is too short \t You need python."
b = "Life is too short \\ You need python."
c = "Life is too short \' You need python."
d = "Life is too short \" You need python."
e = "Life is too short \r You need python."
f = "Life is too short \f You need python."
g = "Life is too short \b You need python."
h = "Life is too short \000 You need python."

In [27]:
print(a)

Life is too short 	 You need python.

In [32]:
print(b)

Life is too short \ You need python.

In [33]:
print(c)

Life is too short ' You need python.

In [34]:
print(d)

Life is too short " You need python.

In [35]:
print(e)

 You need python.

In [36]:
print(f)

Life is too short
 You need python.

In [37]:
print(g)

Life is too short You need python.

In [38]:
print(h)

Life is too short   You need python.

In [39]:
#문자열을 더하거나 곱할 수 있음
head = "Python"
tail = " is fun!"

In [40]:
head + tail

'Python is fun!'

In [41]:
# * 의미는 반복의 의미
a = "Python"

In [42]:
a * 2

'PythonPython'

In [43]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [44]:
#문자열 길이를 구할 때는 len 사용
#문자열 길이에는 공백도 포함
a = "Life is too short"

In [45]:
len(a)

17

In [46]:
#인덱싱 : 가리킨다
#슬라이싱 : 잘라낸다
a = "Life is too short, You need Python"

In [52]:
a[3]  #a 문자열의 네 번째 문자 출력 (인덱싱)

'e'

In [50]:
a[0]

'L'

In [51]:
a[-1]

'n'

In [54]:
#슬라이싱은 [시작:끝] 을 통해 추출
a[0:4] # 0<= a < 4

'Life'

In [55]:
a[5:7]

'is'

In [56]:
a[12:17]

'short'

In [57]:
a[19:] #끝 번호 부분을 생략하면 시작번호부터 끝까지 추출

'You need Python'

In [58]:
a[:17] #시작번호를 생략하면 문자열의 처음부터 끝번호 까지 추출

'Life is too short'

In [59]:
a[:] #시작과 끝 생략하면 문자열 처음부터 끝까지 추출

'Life is too short, You need Python'

In [60]:
a[19:-7] #인덱싱과 마찬가지로 - 기호 사용 가능

'You need'

In [61]:
#문자열 나누기(슬라이싱)
b = "20230331Rainy"

In [65]:
date = b[:8]
weather = b[8:]
year = b[:4]
day = b[4:8]

In [63]:
date

'20230331'

In [64]:
weather

'Rainy'

In [66]:
year

'2023'

In [67]:
day

'0331'

In [1]:
#문자열 바꾸기
a = "pithon"

In [2]:
a[1]

'i'

In [3]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [4]:
#문자열은 요소값을 바꿀 수 없는 변경불가능 자료형이기 떄문에 오류가 발생

In [6]:
#슬라이싱 기법을 사용하여 문자열을 만들 수 있음
a[:1]

'p'

In [7]:
a[2:]

'thon'

In [8]:
a[:1] + 'y' + a[2:]

'python'

In [10]:
#문자열 포매팅(string formatting)
"현재 온도는 18도 입니다."
#시간이 지나서 20도가 되면 다음 문장을 출력
"현재 온도는 20도 입니다."
#이처럼 문자열은 모두 같은데 특정 값을 바꿔야할 경우 포매팅을 사용

'현재 온도는 20도 입니다.'

In [13]:
"I eat %d apples." % 3
# %d 는 문자열 포맷 코드

'I eat 3 apples.'

In [14]:
"I eat %s apples." %"five"
# 숫자는 %d , 문자는 %s
# 문자열을 대입할 때는 반드시 큰따옴표나 작은따옴표를 사용

'I eat five apples.'

In [15]:
number = 3

In [18]:
"I eat %d apples." % number

'I eat 3 apples.'

In [19]:
number = 10

In [20]:
day = "three"

In [22]:
"I ate %d apples. so I was sic for %s days." %(number, day)
#2개 이상의 값을 넣으려면 마지막 % 다음 괄호 안에 쉼표로 구분하여 각각 값을 입력

'I ate 10 apples. so I was sic for three days.'

In [23]:
# %s 문자열(string)
# %c 문자 1개(character)
# %d 정수(integer)
# %f 부동소수(floating-point)
# %o 8진수
# %x 16진수
# %% Literal % (문자 % 자체)
# %s 포맷 코드는 어떤 형태의 값이든 변환해 넣을 수 있음
"I have %s apples" %3

'I have 3 apples'

In [24]:
"rate is %s" %3.234

'rate is 3.234'

In [25]:
#포매팅 연산자 %d 와 %를 같이 쓸 때는 %% 를 씀
"Error is %d%." %98

ValueError: incomplete format

In [26]:
#불완전하다라는 오류 메시지는 문자열 포맷 코드인 %d 와 % 가 같은 문자열 안에 존재할 경우, %를 나타내려면 반드시 %%를 사용
#문자열 안에 %d와 같은 포매팅 연산자가 없으면 %는 홀로 쓰여도 상관 없음
"Error is %d%%." %98

'Error is 98%.'

In [27]:
#정렬과 공백
"%10s" %"hi"
#%10s는 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고 그 앞 나머지는 공백으로 남기라는 의미

'        hi'

In [28]:
"%-10sjane." %'hi'
#왼쪽 정렬은 -10s

'hi        jane.'

In [31]:
#소수점 표현하기
"%0.4f" %3.42134234
#소수점 네자리까지만 나타내고 싶은 경우 위와 같이 작성
#'.'은 소수점 포인트, 그 뒤에 숫자는 소수점 뒤에 나올 숫자의 개수
#소수점 포인트 앞의 숫자는 문자열의 전체 길이를 의미하는데, 숫자 0은 길이에 상관하지 않겠다는 의미이며, %.4f 처럼 생략 가능

'3.4213'

In [32]:
"%10.4f" %3.42134234
#소수점 네 번째 자리까지만 표기하고 전체 길이가 10개인 문자열 공간에서 오른쪽으로 정렬

'    3.4213'

In [33]:
#숫자도 바로 대입 가능
"I eat {0} apples".format(3)
#{0} 부분이 숫자 3으로 바로 대입

'I eat 3 apples'

In [34]:
"I eat {0} apples".format("five")

'I eat five apples'

In [35]:
number = 3

In [36]:
"I eat {0} apples".format(number)

'I eat 3 apples'

In [37]:
number = 10

In [38]:
day = "three"

In [39]:
"I ate {0} apples. so I was sic for {1} days.".format(number, day)
#2개 이상의 값을 넣을 경우, 문자열 {0}, {1}과 같은 인덱스 항목이 format 함수의 입력값으로 순서에 맞게 바뀜

'I ate 10 apples. so I was sic for three days.'

In [43]:
#{0}과 {1}과 같은 인덱스 항목 대신 이름으로 넣는 방법
"I ate {number} apples. so I was sic for {days} days.".format(number=10, days=3)

'I ate 10 apples. so I was sic for 3 days.'

In [45]:
#인덱스와 이름을 혼용
"I ate {0} apples. so I was sic for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sic for 3 days.'

In [47]:
#왼쪽 정렬
"{0:<10}".format("hi")
#:<10 표현식을 ㅅ,용하면 치환되는 문자열을 왼쪽으로 정렬하고 문자열의 총 자릿수를 10으로 맞춤

'hi        '

In [50]:
"{0:>10}".format("hi")
#오른쪽 정렬은 :> 를 사용

'        hi'

In [51]:
#가운데 정렬은 :^
"{0:^10}".format("hi")

'    hi    '

In [52]:
#공백 채우기
"{0:=^10}".format("hi")

'====hi===='

In [53]:
"{0:!<10}".format("hi")
#정렬할 때 공백 문자 대신 지정한 문자 값으로 바꿀 수 있음
#채워 넣을 문자 값은 정렬 문자 바로 앞에 넣어야 함

'hi!!!!!!!!'

In [54]:
#소수점 표현
y = 3.42134234

In [55]:
"{0:0.4f}".format(y)

'3.4213'

In [56]:
"{0:10.4f}".format(y)

'    3.4213'

In [58]:
#{ } 문자 표현
"{{ and }}".format()

'{ and }'

In [59]:
name = '홍길동'

In [60]:
age = 30

In [61]:
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [62]:
f'나는 내년이면 {age + 1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [63]:
d = {'name':'홍길동', 'age':30}

In [65]:
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [67]:
f'{"hi:":<10}'

'hi:       '

In [68]:
f'{"hi":>10}'

'        hi'

In [69]:
f'{"hi":=^10}'

'====hi===='

In [70]:
#문자열 자료형은 자체적으로 함수를 가지고 있음
#문자열 변수 이름 뒤에 '.'를 붙인 후 함수 이름 작성
a = "hobby"

In [71]:
a.count('b')

2

In [72]:
a = "Python is the best choice"

In [73]:
a.find('b')
#위치 찾기

14

In [76]:
a.find('k')
#찾는 문자나 문자열이 존재하지 않는다면 -1를 리턴

-1

In [77]:
a = "Life is too short"

In [81]:
a.index('t')
#index 함수로 문자열 중 선택 문자가 맨 처음으로 나온 위치를 리턴, 없는 경우 오류코드 발생

8

In [80]:
a.index('k')

ValueError: substring not found

In [83]:
",".join('abcd')
#join 함수로 abcd 문자열의 각각 문자 사이에 ,를 삽입

'a,b,c,d'

In [84]:
",".join(a)

'L,i,f,e, ,i,s, ,t,o,o, ,s,h,o,r,t'

In [86]:
",".join(['a','b','c','d'])

'a,b,c,d'

In [88]:
#소문자를 대문자로 바꾸기
#이미 대문자인 경우 아무런 변화가 없음
a.upper()

'LIFE IS TOO SHORT'

In [89]:
#대문자를 소문자로 바꾸기
a.lower()

'life is too short'

In [90]:
#왼쪽 공백 지우기
a = "   hi"

In [91]:
a.lstrip()

'hi'

In [93]:
#오른쪽 공백 지우기
a = "  hi  "

In [94]:
a.rstrip()

'  hi'

In [95]:
#양쪽 공백 지우기
a.strip()

'hi'

In [97]:
#문자열 바꾸기
a = "Life is too short"

In [99]:
a.replace("Life", "Your leg")
#replace(바뀔 문자열, 바꿀 문자열)

'Your leg is too short'

In [103]:
#문자열 나누기
a.split()
#split 함수는 괄호 안에 아무 값도 넣지 않는 경우 공백(스페이스, 탭, 엔터)를 기준으로 문자열을 나눔

['Life', 'is', 'too', 'short']

In [101]:
b = "a:b:c:d"

In [102]:
b.split(':')

['a', 'b', 'c', 'd']