In [1]:
#문자열을 만들 때 4가지 방법이 있음
#""
#''
#"" ""
#''' '''
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [3]:
food = 'Python's favorite food is perl'
#'Python'이 문자열로 인식되어 구문 오류가 발생

SyntaxError: unterminated string literal (detected at line 1) (256926445.py, line 1)

In [4]:
say = '"Python is very easy." he says.'

In [10]:
say
#작은따옴표 안에 사용된 큰따옴표는 문자열을 만드는 기호로 인식되지 않음

'"Python is very easy." he says.'

In [11]:
#역슬래쉬(\)를 사용하면 작은따옴표나 큰따옴표를 문자열에 포함시킬 수 있음
#역슬래시를 작은따옴표나 큰따옴표 앞에 삽입하면 문자열을 둘러싸는 기호의 의미가 아니라 '나 " 자체를 뜻함
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

In [12]:
food

"Python's favorite food is perl"

In [13]:
say

'"Python is very easy." he says.'

In [16]:
#줄바꿈 문자인 \n 을 삽입하는 방법도 있음
multline = "Life is too short\nYou need python"
#작은따옴표 3개(''') 또는 큰따옴표 3개(""")를 사용

In [30]:
print(multline)

Life is too short
You need python

In [19]:
multiline = '''
    Life is too short
    You need python
    '''

In [28]:
print(multiline)

    Life is too short
    You need python

In [22]:
multiline = """
    Life is too short
    You need python
    """

In [29]:
print(multiline)

    Life is too short
    You need python

In [24]:
# \n 문자열 안에서 줄을 바꿀 때 사용
# \t 문자열 사이에 탭 간격을 줄 때 사용
# \\ \를 그대로 표현할 때 사용
# \' 작은따옴표를 그대로 표현할 때 사용
# \" 큰따옴표를 그대로 표현할 때 사용
# \r 캐리지 리턴(줄바꿈 문자, 커서를 현재 줄의 가장 앞으로 이동)
# \f 폼 피드(줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동)
# \a 벨 소리(출력할 때 pc스피커에 '삑' 소리가 난다)
# \b 백 스페이스
# \000 널문자

In [31]:
a = "Life is too short \t You need python."
b = "Life is too short \\ You need python."
c = "Life is too short \' You need python."
d = "Life is too short \" You need python."
e = "Life is too short \r You need python."
f = "Life is too short \f You need python."
g = "Life is too short \b You need python."
h = "Life is too short \000 You need python."

In [27]:
print(a)

Life is too short 	 You need python.

In [32]:
print(b)

Life is too short \ You need python.

In [33]:
print(c)

Life is too short ' You need python.

In [34]:
print(d)

Life is too short " You need python.

In [35]:
print(e)

 You need python.

In [36]:
print(f)

Life is too short  You need python.

In [37]:
print(g)

Life is too short You need python.

In [38]:
print(h)

Life is too short   You need python.

In [39]:
#문자열을 더하거나 곱할 수 있음
head = "Python"
tail = " is fun!"

In [40]:
head + tail

'Python is fun!'

In [41]:
# * 의미는 반복의 의미
a = "Python"

In [42]:
a * 2

'PythonPython'

In [43]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [44]:
#문자열 길이를 구할 때는 len 사용
#문자열 길이에는 공백도 포함
a = "Life is too short"

In [45]:
len(a)

17

In [46]:
#인덱싱 : 가리킨다
#슬라이싱 : 잘라낸다
a = "Life is too short, You need Python"

In [52]:
a[3]  #a 문자열의 네 번째 문자 출력 (인덱싱)

'e'

In [50]:
a[0]

'L'

In [51]:
a[-1]

'n'

In [54]:
#슬라이싱은 [시작:끝] 을 통해 추출
a[0:4] # 0<= a < 4

'Life'

In [55]:
a[5:7]

'is'

In [56]:
a[12:17]

'short'

In [57]:
a[19:] #끝 번호 부분을 생략하면 시작번호부터 끝까지 추출

'You need Python'

In [58]:
a[:17] #시작번호를 생략하면 문자열의 처음부터 끝번호 까지 추출

'Life is too short'

In [59]:
a[:] #시작과 끝 생략하면 문자열 처음부터 끝까지 추출

'Life is too short, You need Python'

In [60]:
a[19:-7] #인덱싱과 마찬가지로 - 기호 사용 가능

'You need'

In [61]:
#문자열 나누기(슬라이싱)
b = "20230331Rainy"

In [65]:
date = b[:8]
weather = b[8:]
year = b[:4]
day = b[4:8]

In [63]:
date

'20230331'

In [64]:
weather

'Rainy'

In [66]:
year

'2023'

In [67]:
day

'0331'